

.header {
  background-color: #343a40;
  padding: 40px;
  color: #ffffff;
  text-align: center;
}

  .inputDiv{
    margin-left: -80%; 
    }

    #myInput{
      padding: 5px;
      width: 8%;
        }

    .rowInput {
      margin-left: -116px;
    }
    #Description {
      padding: 11px;
  }
  
  
    #Date-to-do{
    margin-inline-start: 15px;
    }

    .DescInput{
      margin-left: -147px;

    }
    
     table {
          font-family: arial, sans-serif;
           border-collapse: collapse;
          width: 100%;
        }     
  
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:hover {
  background: darkgrey;
  
  }
  .close:hover {
    background-color: #f44336 !important;
    color: white;
    } 


   button{
    border-radius: 30px;
    background: red;
    color: white;
    border-color: black;
  } 

  .Do{
    text-decoration: line-through;
    background:rgba(149, 218, 142, 0.781)!important;
  }
  .btn.btn-info{
  margin-left: 96%;
  background-color: #0b2767;
  margin-top: -2%;
}

#idname{
  display: none;
}
#timer{
  color:whitesmoke;
}
P{
  width: 15%;
}
#red{
 background:  #cd5c5c!important;
}
#green{
  background:  #ace2a6!important;
}
